<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form method="post" action="/new">
      <label for="messageAuthor">Name</label>
      <input type="text" name="messageAuthor" />

      <label for="messageText">Message</label>
      <input type="text" name="messageText" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
